@model IEnumerable<ShredKernal.ViewModels.VideoViewModel>

@{
    ViewData["Title"] = "GetVideos";
}
<link href="~/css/videogrid.css" rel="stylesheet" />
<a class="btn btn-info float-start" asp-controller="Video" asp-action="UploadFile">Upload Video </a>

@foreach (var cat in Model)
{
    <div class="row">
        <div class="col-12"><h1 style="margin-top:10px">@cat.GenreName</h1></div>
    </div>
    
     <div class="row mt-2" style="display:flex;justify-content:center">
    @foreach (var item in cat.Videos)
    {
      
            <div class="col-5" style="background-color: #073642; padding: 15px;">
                <h3 style="border-bottom: 1px solid; margin: 0 0 8px 0; font-size: 18px; font-weight: 600;">@item.VideoName</h3>
                <div style="position: relative; width: 100%; padding-top: 56.25%;">
                    <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="@item.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <p style="margin: 16px 0 0 0;"><strong>Summary:</strong> Learn about the Pine Siskin, nature’s smallest and most social finch.</p>
                <div class="modal-footer d-flex justify-content-sm-between">
                    <button type="button" id="btnDelete" onclick="location.href='@Url.Action("Delete", "Video", new {  id = item.Id })'"
                            class="btn btn-secondary">
                        Delete
                    </button>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("GetBlobDownload", "Video", new {  link = item.VideoUrl })'">
                        downnload
                    </button>
                </div>
            </div>

    }
    </div>

    <a style="float:left;    margin-left: 36px;" type="button" asp-controller="Video" asp-action="GetVideoWithGenre" asp-route-catId="@cat.GenreId" class="btn btn-link">View More</a>

}

   


    

 
