@model  ShredKernal.ViewModels.UploadVideoViewModel

@{
    ViewData["Title"] = "UploadVideo";
}

    <link rel="stylesheet" href="~/css/upload.css" />



<h1>UploadVideo</h1>

<div class="upload">
    <form class="uploadForm" asp-controller="Video" asp-action="UploadFile">

        <div class="form-group ">
            <label asp-for="@Model.Name" class="form-label mt-4 float-left">Video Name</label>
            <input asp-for="@Model.Name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>

        </div>
        <div class="form-group ">
            <label asp-for="@Model.GenreName" class="form-label mt-4 float-left">Category Name</label>
            <input asp-for="@Model.GenreName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <span asp-validation-for="@Model.GenreName" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="@Model.VideoUrl" class="form-label mt-4 float-left">Video Url </label>
            <input asp-for="@Model.VideoUrl" class="form-control " type="text" >
             <span asp-validation-for="@Model.VideoUrl" class="text-danger"></span>

        </div>
          <div class="form-group">
      <label  asp-for="@Model.VideoDescription" class="form-label mt-4">Video Description</label>
      <textarea asp-for="@Model.VideoDescription" class="form-control" id="exampleTextarea" rows="3"></textarea>
                   <span asp-validation-for="@Model.VideoDescription" class="text-danger"></span>

    </div>
        <button  type="submit" 
        class="btn btn-primary float-left mt-3">Submit</button>
    </form>

</div>


@*GetAll *@
<d
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    

}
